BASE_URL=https://parabank.parasoft.com/parabank/
BROWSER=chromium
HEADLESS=false
START_MAXIMIZED=true
SLOW_MO_MS=600
VIEWPORT_WIDTH=1440
VIEWPORT_HEIGHT=900
DEFAULT_TIMEOUT_MS=10000
TEST_PAUSE_MS=5000
